@import "nib"
@import "_variables"

@import "_partial/base"
@import "_partial/header"
@import "_partial/index"
@import "_partial/sidebar"
@import "_partial/page"
@import "_partial/post"
@import "_partial/plugins"
@import "_partial/archive"
@import "_partial/mobile_nav"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/carbonads"

.intro-feature-desc
  font-family: 'DIN', 'CircularStd', 'Roboto', -apple-system-font, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif
#  font-family: 'Roboto', sans-serif
#  font-family: Akkurat Std,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif
  -webkit-font-smoothing: antialiased